<!DOCTYPE html>
<html lang='en' translate='no'>
    <head>
        <meta charset='UTF-8'>
        <meta name='author' content='Ondřej Nejedlý'>
        <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui'>
        <meta name='description' content='Casual game sharpening your attention to detail, your memory and reflexes'>
        <meta name='apple-mobile-web-app-title' content='Polínka'>
        <meta name='apple-mobile-web-app-capable' content='yes'>
        <meta name='mobile-web-app-capable' content='yes'>
        <meta name='application-name' content='Polínka'>
        <meta name='theme-color' content='#000000'>
        <meta name='msapplication-TileColor' content='#ff00ff'>
        <meta name='msapplication-config' content='//{ browserconfig }'>
        <link rel='apple-touch-icon' sizes='180x180' href='//{{ /favicons/apple-touch-icon.png }}'>
        <link rel='icon' type='image/png' sizes='32x32' href='//{{ /favicons/favicon-32x32.png }}'>
        <link rel='icon' type='image/png' sizes='16x16' href='//{{ /favicons/favicon-16x16.png }}'>
        <link rel='mask-icon' href='//{{ /favicons/safari-pinned-tab.svg }}' color='#ff00ff'>
        <link rel='shortcut icon' href='//{{ /favicon.ico }}'>
        <link rel='manifest' href='//{ webmanifest }'>
        <link rel='preload' as='font' type='font/woff2' href='//{{ /fonts/BebasNeue-Regular.woff2 }}' crossorigin>
        <link rel='preconnect' href='https://firebaseinstallations.googleapis.com'>
        <link rel='preconnect' href='https://firebase.googleapis.com'>
        <link rel='preconnect' href='https://www.googletagmanager.com'>
        <style>
            :root {
                --col-primary: hsl(300, 100%, 50%);
                --col-primary-dark: hsl(300, 100%, 15%);
                --col-secondary: hsl(180, 100%, 50%);
                --col-secondary-dark: hsl(180, 100%, 15%);
                --col-tertiary: hsl(0, 0%, 0%);
            }

            @font-face {
                font-family: DefaultFont;
                font-weight: bold;
                font-style: normal;
                src: url('//{{ /fonts/BebasNeue-Regular.woff2 }}') format('woff2');
                font-display: swap;
            }

            body {
                background: var(--col-tertiary);
                color: var(--col-primary);
                font-family: DefaultFont, sans-serif;
                font-size: 160%;
                letter-spacing: 0.03em;
                margin: 0;
            }

            .loading-screen {
                display: flex;
                min-height: 100vh;
                padding: 1rem;
                box-sizing: border-box;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;
            }

            .loader,
            .loader:after {
                border-radius: 50%;
                width: 10em;
                height: 10em;
            }

            .loader {
                font-size: 5px;
                position: relative;
                border-top: 1.1em solid var(--col-primary-dark);
                border-right: 1.1em solid var(--col-primary-dark);
                border-bottom: 1.1em solid var(--col-primary-dark);
                border-left: 1.1em solid var(--col-primary);
                transform: translateZ(0);
                animation: load8 1.1s infinite linear;
            }

            @-webkit-keyframes load8 {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }

            @keyframes load8 {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
        </style>
        <link rel='stylesheet' type='text/css' href='//{ styles }'>
        <title>Polínka</title>
    </head>
    <body>
        <div id='app'
             data-messages='//{ data-messages }'
             data-statics='//{ data-statics }'
        >
            <div class='loading-screen'>
                <div class='loader'></div>
                <noscript><p>Please enable JavaScript in your browser.</p></noscript>
            </div>
        </div>
        <div id='svg-container'></div>
        <script src='//{ app-js }'></script>
        <script>polinka.core.main();</script>
    </body>
</html>
