@use "sass:math";
@import "variables";

.board__wrapper {
  position: absolute;
  top: $timer-height;
  bottom: $score-height;
  left: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  &__row {
    pointer-events: none;

    &:not(:first-of-type) {
      margin-top: calc(-1 * calc(#{$hexagon-height} / 4 + #{$hexagon-margin} * 3));
    }

    &:nth-child(even) {
      margin-left: calc(#{math.div($hexagon-width, 2)} + #{math.div($hexagon-margin, 2)});
    }
  }

  &__hexagon {
    pointer-events: all;
    display: inline-block;
    width: $hexagon-width;
    height: $hexagon-height;
    color: $hexagon-color;
    background: $hexagon-bg;
    line-height: 1px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

    svg {
      fill: currentColor;
      transition: transform $transition-fast ease-in-out;
    }

    &:not(:last-of-type) {
      margin-right: $hexagon-margin;
    }

    &--selected {
      color: $hexagon-selected-color;
      background: $hexagon-selected-bg;
      transition: background-color $transition-fast;
    }

    &--taken {
      color: $hexagon-taken-color;
      background: $hexagon-taken-bg;
      transition: color $transition-slow;
    }

    &--info {
      color: $hexagon-info-color;
      background: $hexagon-info-bg;
    }
  }

  &__image {
    width: $hexagon-height;
    height: $hexagon-height;
    margin-left: math.div(-($hexagon-height - $hexagon-width), 2);
    position: relative;
  }

  &__chart {
    position: absolute;
    top: 0;
    left: 0;
  }
}
