@import "variables";

.text-primary,
a.text-primary {
  color: $col-primary;
}

.text-secondary,
a.text-secondary {
  color: $col-secondary;
}

.text-smaller {
  font-size: 80%;
}

.flashy {
  animation: color-change 500ms infinite;

  @keyframes color-change {
    0% { color: $col-primary; }
    100% { color: $col-secondary; }
  }
}
