@import "variables";

.link {
  &--button {
    padding: 0.24rem 0.5rem 0;
    border: 2px solid $col-primary;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: border-color $transition-slow;
    margin: 0 .5rem;
  }

  &--selected {
    pointer-events: none;
    color: $col-tertiary;
    background: $col-secondary;
    border-color: transparent;
    transition: background-color $transition-slow;
  }
}

.bottom-link {
  text-align: center;
  position: fixed;
  bottom: 2rem;
  left: 0;
  right: 0;
}
