@use "sass:math";
@import "variables";

.timer {
  height: $timer-height;
  position: absolute;
  width: 100%;

  &__bar {
    height: math.div($timer-height, 2);
    width: 100%;
    background: $col-primary;
    transition: width $transition-fast ease-in-out;
  }
}
