$col-primary: var(--col-primary);
$col-primary-dark: var(--col-primary-dark);
$col-secondary: var(--col-secondary);
$col-secondary-dark: var(--col-secondary-dark);
$col-tertiary: var(--col-tertiary);

$hexagon-width: 20.5vw;
$hexagon-height: $hexagon-width * 1.1547;
$hexagon-margin: 2px;

$background: $col-tertiary;
$hexagon-color: $col-secondary;
$hexagon-bg: $col-tertiary;
$hexagon-selected-color: $col-tertiary;
$hexagon-selected-bg: $col-secondary;
$hexagon-taken-color: $col-primary;
$hexagon-taken-bg: $col-tertiary;
$hexagon-info-color: $col-primary;
$hexagon-info-bg: $col-tertiary;

$timer-height: 2rem;
$score-height: 3rem;

$transition-fast: 250ms;
$transition-slow: 500ms;
