@import "normalize";
@import "board";
@import "helpers";
@import "link";
@import "score";
@import "timer";
@import "variables";

* {
  user-select: none;
}

#svg-container {
  display: none;
}

a {
  color: $col-secondary;
}

.intro-screen,
.ballot-screen,
.settings-screen,
.game-over {
  text-align: center;
  padding: 1rem;
}
